:root {
  /* COLOR PALETTE */
  --da-color-primary-light: #ffffff;
  --da-color-primary-dark: #213547;
  --da-color-read-more: #c0c0c0;
  --da-color-shadow: rgba(0, 0, 0, 0.16);

  /* FONT SIZE */
  --da-typography-h1: 1.9375rem;
  --da-typography-h2: 1.25rem;
  --da-typography-typeface: 'Inter', sans-serif;

  /* LEADING */
  --da-typography-h1-leading: 1.2;
  --da-typography-h2-leading: 1.2;
  --da-typography-p-leading: 1.5;

  /* MARGIN */
  --da-typography-margin-heading: 2rem;

  /* GAP */
  --da-gap-header: 1rem;

  /* BORDER RADIUS */
  --da-radius-button: 0.5rem;
  --da-radius-card: 0.5rem;

  font-family: var(--da-typography-typeface);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--da-color-primary-light);
  background-color: var(--da-color-primary-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
}

.App {
  max-width: 100vw;
}

h1 {
  font-size: var(--da-typography-h1);
  line-height: var(--da-typography-h1-leading);
  margin-bottom: var(--da-typography-margin-heading);
}

h2 {
  font-size: var(--da-typography-h2);
  line-height: var(--da-typography-h2-leading);
}

button {
  border-radius: var(--da-radius-button);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  background: var(--da-color-primary-light);
  color: var(--da-color-primary-dark);
  box-shadow: 0px 6px 40px var(--da-color-shadow);
  border-radius: var(--da-radius-card);
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;
  gap: var(--da-gap-header);
}

.card-header--logo {
  width: 80px;
}

.card-header--meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.card-header--selectors {
  display: flex;
  gap: 1rem;
}

.card-header--selectors > h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
}

.card-header--selector-picker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-header--date-picker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-header--date-picker > p {
  font-size: 0.9rem;
}

.card-header--date-picker > input {
  font-family: inherit;
}

.card-header--selector-picker > p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 15px;
  letter-spacing: -0.02em;
}

.card-image {
  width: 100%;
}

.card-actions {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  gap: 1.4rem;
}

.card-actions > a {
  display: flex;
}

.card-actions > button {
  background-color: inherit;
  display: flex;
  padding: 0;
}

.card-description--wrapper {
  padding: 0.8rem;
  padding-top: 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.card-description--wrapper > span {
  font-weight: 700;
}

.read-or-hide {
  color: var(--da-color-read-more);
  padding: 0;
}

@media screen and (min-width: 500px) {
  .App {
    max-width: 400px;
  }
}
