:root {
  --da-primary-color-light: #ffffff;
  --da-primary-color-dark: #213547;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--da-primary-color-light);
  background-color: var(--da-primary-color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 400px;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.4rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  background: var(--da-primary-color-light);
  color: var(--da-primary-color-dark);
  box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 4px;
}

.card-header--logo {
  width: 80px;
}

.card-header--meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  /* width: 368px;
  height: 42px; */
}

.card-header--selectors {
  display: flex;
  gap: 1rem;
}

.card-header--selectors > h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
}

.card-header--selector-picker {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

.card-header--date-picker {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 0.5rem;
}

.card-header--selector-picker > p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 15px;
  letter-spacing: -0.02em;
}

.card-image {
  width: 100%;
}

.card-actions {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.8rem;
  gap: 1.4rem;
}

.card-actions > button {
  background-color: inherit;
  padding: 0;
}
